<div id="edit-image-container">
    <div class="container-profile-img">
        <img class="profile-image" [src]="basicInfoForm.controls['image'].value || './assets/img/default-profile.png'" onerror="this.src='./assets/img/img-not-found.png';"
            alt="photo">
    </div>
</div>

<div class="mb-4">
    <form action="javascript:void();" [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
        <div class="form-row col-md-12 p-0 m-0">
            <div class="form-group col-md-6 p-0 pr-2 ">
                <div class="form-group">
                    <label for="education-image-indexEducation">Profile photo</label>
                    <input type="file" id="education-image-indexEducation" class="form-control-file"
                        (change)="onImageUpload($event)">
                    <input type="hidden" formControlName="image">
                    <div *ngIf="m.image.invalid && m.image.errors?.maxFileSize " class="alert alert-danger">
                        The file exceeds {{maxSizeAllowed}}MB
                    </div>
                </div>
                <div class="form-group col-md-12 p-0">
                    <label for="input-firstname">Firstname</label>
                    <input type="text" id="input-firstname" class="form-control" formControlName="firstname">
                    <div *ngIf="m.firstname.touched && m.firstname.invalid" class="alert alert-danger">
                        <div *ngIf="m.firstname.errors?.required">Please provide a firstname</div>
                        <div *ngIf="m.firstname.errors?.onlyWhitespace">The field cannot contain only whitespace</div>
                    </div>
                </div>
                <div class="form-group col-md-12 p-0">
                    <label for="input-lastname">Lastname</label>
                    <input type="text" id="input-lastname" class="form-control" formControlName="lastname">
                    <div *ngIf="m.lastname.touched && m.lastname.invalid" class="alert alert-danger">
                        <div *ngIf="m.lastname.errors?.required">Please provide a lastname</div>
                        <div *ngIf="m.lastname.errors?.onlyWhitespace">The field cannot contain only whitespace</div>
                    </div>
                </div>
                <div class="form-group col-md-12 p-0">
                    <label for="input-occupation">Occupation</label>
                    <input type="text" id="input-occupation" class="form-control" formControlName="occupation">
                    <div *ngIf="m.occupation.touched && m.occupation.invalid" class="alert alert-danger">
                        <div *ngIf="m.occupation.errors?.required">Please provide a occupation</div>
                        <div *ngIf="m.occupation.errors?.onlyWhitespace">The field cannot contain only whitespace</div>
                    </div>
                </div>
                <div class="form-group col-md-12 p-0">
                    <label for="inputGroupSelect02">Country</label>
                    <select class="form-control" formControlName="countryId" id="inputGroupSelect02" (change)="onChangeCountry" 
                         name="country" #select (change)="onChangeCountry()">
                        <option hidden value="" disabled selected>Choose...</option>
                        <option *ngFor="let country of (countries$ | async)" [value]="country.id">{{country.name}}
                        </option>
                    </select>
                    <div *ngIf="m.countryId.touched && m.countryId.invalid" class="alert alert-danger">
                        <div *ngIf="m.countryId.errors?.required">Please provide a country</div>
                    </div>
                </div>
                
                <div class="form-group col-md-12 p-0">
                    <label for="inputGroupSelect03">Region</label>
                    <select class="form-control" formControlName="regionId" id="inputGroupSelect03"
                         name="region" #select>
                        <option hidden value="" disabled selected>Choose...</option>
                        <option *ngFor="let region of (regions$ | async)" [value]="region.id">{{region.name}}</option>
                    </select>
                    <div *ngIf="m.regionId.touched && m.regionId.invalid" class="alert alert-danger">
                        <div *ngIf="m.regionId.errors?.required">Please provide a region</div>
                    </div>
                </div>

                <div class="form-group col-md-12 p-0">
                    <label for="input-address">Address</label>
                    <input type="text" id="input-address" class="form-control" formControlName="address">
                    <div *ngIf="m.address.touched && m.address.invalid" class="alert alert-danger">
                        <div *ngIf="m.address.errors?.required">Please provide a address</div>
                        <div *ngIf="m.address.errors?.onlyWhitespace">The field cannot contain only whitespace</div>
                    </div>
                </div>

            </div>


        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!basicInfoForm.valid">Save</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="onCloseEdit()">Cancel</button>


    </form>
</div>