#profile-background {
    display: flex;
    
    
}

#profile-background img {
    width: 100%;
    object-fit: cover;
    
    aspect-ratio: 21 /9;
    border-radius: 32px 32px 0 0;
}
#btn-edit-banner{
    position:absolute;
    right:16px;
    top:16px;
}