<div class="new-item-container">
    <img [src]="education.image || './assets/img/default-education.png'" alt="Add new image">
    <div class="item-text">
        <div class="item-title-edit">
            <h4 class="position-text">{{education.title}}</h4>
            <div class="btn-container">
                <app-button [type]="'edit'" (onButtonAction)="editEducation()"></app-button>
                <app-button [type]="'delete'" (onButtonAction)="removeEducation()"></app-button>
            </div>
        </div>
        <p class="font-weight-bold mb-1">{{education.institute}}</p>
        <p class="font-weight-light mb-1">
            <span class="date">
                <span class="text-muted font-weight-bold">From </span>{{education.startDate? (education.startDate |
                date:'dd-MM-yyyy'):'-'}}&nbsp;
            </span>
            <span class="date">
                <span class="text-muted font-weight-bold">To </span>{{education.endDate? (education.endDate |
                date:'dd-MM-yyyy'):'-'}}
            </span>
        </p>
    </div>
</div>