<footer class="bg-dark">
    <div class="h-100">
        <p class="small text-footer title-footer mt-2">Final project for Argentina Programa #YoProgramo</p>
        <p class="small text-footer text-secondary">Design by Gustavo Hernández 2022</p>
        <p class="small text-footer text-secondary mb-2">
            Check it out here :
        
        <a href="//github.com/adriangh1321/Portfolio-frontend" class="github-link ml-1" ><i class="fa-brands fa-angular mr-1 custom-icon" ></i>Front</a>
        <a href="//github.com/adriangh1321/Portfolio-backend" class="github-link ml-1" ><i class="fa-brands fa-java mr-1 custom-icon" ></i>Back</a>
        </p>
    </div>
</footer>