#logo-argprograma{
    width: 100px;
    height: auto;
}
.networks-buttons{
    flex-wrap: wrap;
}
@media (max-width: 600px) {
    .networks-buttons {
        display: none!important;

    }
}

.text-small{
    font-size: x-small;
}

.grow{
    flex-grow: 1;
}

#my-profile-container{
    height: auto;
}
#profile-image{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


.networks-menu{
    display: none;
    cursor: pointer;
    
}

@media (max-width: 600px) {
    .networks-menu {
        display: block;

    }
}



.submenu-item:hover{
    background-color:grey ;
}



