<div *ngIf="(notification$ | async) as notification" class="position-fixed bottom-0 right-0 p-3"
    style="z-index: 5; right: 0; bottom: 0;">
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast fade show" data-delay="5000">
        <div class="toast-header " [ngClass]="{
                'bg-success': notificationType.SUCCESS === notification.type,
                'bg-danger' : notificationType.ERROR === notification.type,
                'bg-warning' : notificationType.WARNING === notification.type }">
            <i class="text-white fa-solid" [ngClass]="{
                'fa-circle-check': notificationType.SUCCESS === notification.type,
                'fa-xmark' : notificationType.ERROR === notification.type,
                'fa-triangle-exclamation' : notificationType.WARNING === notification.type}"></i>
            <strong class="mr-auto ml-2 text-white">{{notification.type}}</strong>
            
            <button type="button" class="ml-2 mb-1 close" (click)="close()" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body bg-light"[ngClass]="{
            'text-success': notificationType.SUCCESS === notification.type,
            'text-danger' : notificationType.ERROR === notification.type,
            'text-dark' : notificationType.WARNING === notification.type }">
            {{notification.message}}
        </div>
    </div>
</div>