<div class="collapse" id="collapseInterests">
    
    <div class="card card-body w-100 bg-secondary">
        <div class="d-flex flex-row justify-content-between">
            <h4 class="text-light">Interests</h4>
            <a href='javascript:void(0);' (click)="addInterest()"><i class="fa-solid fa-plus text-light"></i></a>
        </div>


        <div class="interest-container">
            <div *ngFor="let interest of interests">
                <app-interest-item [interest]="interest"></app-interest-item>
            </div>
        </div>

    </div>
</div>