<div class="collapse" id="collapseInterests">
    
    <div class="card card-body w-100 custom-body">
        <div class="d-flex flex-row justify-content-between">
            <h4 class="custom-text" >Interests</h4>
            <app-button [type]="'add'" [color]="'rgb(85, 85, 85)'" (onButtonAction)="addInterest()"></app-button>
        </div>


        <div class="interest-container">
            <div *ngFor="let interest of interests">
                <app-interest-item [interest]="interest"></app-interest-item>
            </div>
        </div>

    </div>
</div>