.interest-container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    height: auto;
    flex-wrap: wrap;

}

.custom-body{
    background-color: gainsboro;
    border: 1px solid gray;
}

.custom-text{
    color:rgb(85, 85, 85)
}

