<div class="collapse" id="collapseInterests">
    <div class="card card-body d-flex flex-column p-0">
        <div class="d-flex align-items-end flex-column ">
            <a href='javascript:void(0);'  ><i class="fa-solid fa-plus"></i></a>

        </div>
        <div class="d-flex flex-row"> 
           <div *ngFor="let interest of interests" class="card" style="width: 7rem;">
            <app-interest-details [interest]="interest"></app-interest-details>
        </div>  
        </div>
       
    </div>
</div>