<div id="profile-background"><img src="./assets/img/background-header.jpg" alt=""></div>
<div id="info">
    <div class="container-fluid ">
        <div class="row d-flex flex-row ">
            <div class="col-8 pl-0">
                <app-basic-info [portfolio]="portfolio"></app-basic-info>
            </div>
            <div class="col-4">
                <app-current-company [currentCompany]="portfolio.currentCompany"></app-current-company>
            </div>
        </div>
    </div>
</div>