.info-image {
    display: flex;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    
  }
  
  .info-company-image {
    display: block;
    
  }

  #company-image{
    
      color:transparent;
  
  }
  .edit-container{
    min-width: 220px;
    padding-right: 16px;
  }