<div class="info-image">
    <div class="container-profile-img">
        <img class="profile-image" [src]="portfolio.image || './assets/img/default-profile.png'" alt="">
    </div>
    
    <app-button [type]="'edit'" (onButtonAction)="editBasicInfo()"></app-button>
</div>

<div class="col-md-12">
    <div class="row">
        <h1 class="h-50 vertical-text-center pl-0" id="full-name" *ngIf="portfolio.firstname && portfolio.lastname">{{portfolio.firstname}}
            {{portfolio.lastname}}
        </h1>
        <h1 class="h-50 vertical-text-center pl-0" id="full-name" *ngIf="!portfolio.firstname && !portfolio.lastname">{{nickname}}
        </h1>
    </div>

    <div class="row h-25" id="occupation">{{portfolio.occupation || 'My occupation'}}</div>
    <div class="row h-25" id="info-contact">
        <p class="pl-0">{{portfolio.state || 'My State'}} ({{portfolio.country || 'My country'}})</p>
    </div>
</div>