<div class="info-image">
    <div class="container-profile-img">
        <img class="profile-image" [src]="portfolio.image || './assets/img/default-profile.png'" alt="">
    </div>
    
    <app-button [type]="'edit'" (onButtonAction)="editBasicInfo()"></app-button>
</div>

<div class="col-md-12">
    <div class="row">
        <h1 class="h-50 vertical-text-center pl-0" id="full-name" *ngIf="portfolio.firstname && portfolio.lastname">{{portfolio.firstname}}
            {{portfolio.lastname}}
        </h1>
        <h1 class="h-50 vertical-text-center pl-0" id="full-name" *ngIf="!portfolio.firstname && !portfolio.lastname">{{nickname}}
        </h1>
    </div>

    <div class="row h-25 p-0" id="occupation">
        <p class="pl-0 m-0"><i class="fa-solid fa-briefcase mr-1"></i>{{portfolio.occupation || ' - '}}</p>
    </div>
    <div class="row h-25" id="info-contact">
        <p *ngIf="portfolio.location.region"class="pl-0"><i class="fa-solid fa-location-dot mr-1"></i>{{portfolio.location.region.name}}, {{portfolio.location.region.country.name}}</p>
        <p *ngIf="!portfolio.location.region"class="pl-0"><i class="fa-solid fa-location-dot mr-1"></i> - </p>
    </div>
</div>