<div class="new-item-container" >
    <img [src]="experience.image || './assets/img/default-experience.png'" alt="Add new image">
    <div class="item-text">
      <div class="item-title-edit">
        <h4>{{experience.position}}</h4>
        <div>
          <a href='javascript:void(0);' (click)="editExperience()"><i class="fa-solid fa-pen"></i> </a>
          <a href='javascript:void(0);' (click)="removeExperience()"><i class="fa-solid fa-trash"></i> </a>
        </div>
      </div>
      <p class="font-weight-bold mb-1">{{experience.company}}</p>
      <p class="mb-1" id="job-description">{{experience.description}}</p>
      <p class="font-weight-light mb-1">From <span>{{experience.startDate? (experience.startDate |
          date:'dd-MM-yyyy'):'-'}}</span> to <span>{{experience.endDate? (experience.endDate |
          date:'dd-MM-yyyy'):'-'}}</span> {{experience.state}} ({{experience.country}})</p>
    </div>
  </div>
