<div class="card" style="width: 10rem; height: 14rem!important;">
    <div>
        <a href='javascript:void(0);' (click)="editInterest()"><i class="fa-solid fa-pen"></i> </a>
        <a href='javascript:void(0);' (click)="removeInterest()"><i class="fa-solid fa-trash"></i> </a>
    </div>
    <img class="card-img-top" style="height: 60% ;"  [src]="interest.image" alt="Card image cap">
    <div class="card-body">
        <h6 class="card-title text-center">{{interest.name}}</h6>
    </div>
</div>



