<div class="education-container">
    <img [src]="educationForm.controls['image'].value || './assets/img/default-education.png'" onerror="this.src='./assets/img/img-not-found.png';" alt="Add new image">

    <div class="col pr-2">
        <form action="javascript:void(0);" [formGroup]="educationForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="form-group ">
                <label for="education-position-indexEducation">Title</label>
                <input type="text" id="education-position-indexEducation" class="form-control" formControlName="title">
                <div *ngIf="m.title.touched && m.title.invalid" class="alert alert-danger">
                    <div *ngIf="m.title.errors?.required">Please provide a title</div>
                </div>
            </div>
            <div class="form-group">
                <label for="education-company-indexEducation">Institute</label>
                <input type="text" id="education-company-indexEducation" class="form-control"
                    formControlName="institute">
                <div *ngIf="m.institute.touched && m.institute.invalid" class="alert alert-danger">
                    <div *ngIf="m.institute.errors?.required">Please provide a institute</div>
                </div>
            </div>

            <div class="form-group">
                <label for="education-end-indexEducation">Start date</label>
                <div class="input-group">
                    <input id="education-start-indexEducation" class="form-control" placeholder="yyyy-mm-dd"
                        formControlName="startDate" ngbDatepicker #d="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                            class="fas fa-calendar-alt fa-fw"></i></button>
                </div>
                <div *ngIf="m.startDate.touched && m.startDate.invalid" class="alert alert-danger">
                    <div *ngIf="m.startDate.errors?.required">You must provide a start date</div>
                    <div *ngIf="m.startDate.errors?.ngbDate">The start date is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label for="education-end-indexEducation">End date</label>
                <div class="input-group">
                    <input id="education-end-indexEducation" class="form-control" placeholder="yyyy-mm-dd"
                        formControlName="endDate" ngbDatepicker #dEnd="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="dEnd.toggle()" type="button"><i
                            class="fas fa-calendar-alt fa-fw"></i></button>
                </div>
                <div *ngIf="m.endDate.touched && m.endDate.invalid" class="alert alert-danger">
                    The end date is invalid
                </div>
            </div>

            <div class="form-group">
                <label for="education-image-indexEducation">Institute image file</label>
                <input type="file" id="education-image-indexEducation" class="form-control-file"
                    (change)="onImageEducationUpload($event)">
                <input type="hidden" formControlName="image">
            </div>
            <button type="submit" class="btn btn-primary" id="btn-edit-education-indexEducation"
                [disabled]="!educationForm.valid">Save</button>
            <button type="button" class="btn btn-secondary ml-2" id="btn-cancel-education-indexEducation"
                (click)="onCloseEdit()">Cancel</button>
        </form>
    </div>


</div>