<div class="card card-custom floating" (click)="navigate()" style="width: auto;">
  <div class="custom-container-img">
    <img class="card-img-top img-custom" [src]="profile.image || './assets/img/default-profile.png'"
      alt="Card image cap">
  </div>
  <div class="card-body card-body-custom">
    <div *ngIf="profile.firstname && profile.lastname">
      <h5 class="card-title text-card">{{profile.firstname}}</h5>
      <h5 class="card-title text-card">{{profile.lastname}}</h5>
    </div>
    <h5 class="card-title text-card" *ngIf="!profile.firstname && !profile.lastname">{{profile.nickname}}</h5>
  </div>
</div>