<div class="card mat-card" id="first-card">
  
 <app-introduction
 [portfolio]="portfolio">
</app-introduction>


  <div id="info-actions">
    <app-collapse 
    class="w-100" 
    [portfolio]="portfolio">
  </app-collapse>
  </div>
   
</div>
<div class="card mat-card">
  <div class="card-titles">
    <div class="title-container">
      <h2>About me</h2>
    </div>
    <app-about [aboutMe]="portfolio.aboutMe"></app-about>
  </div>
</div>


<div class="card mat-card">
  <div class="title-container">
    <h2>Experience</h2>
    <app-button [type]="'add'" (onButtonAction)="onAddExperience()"></app-button>
  </div>
  <app-experiences [experiences]="portfolio.experiences"></app-experiences>
</div>

<div class="card mat-card">
  <div class="title-container">
    <h2>Education</h2>
    <app-button [type]="'add'" (onButtonAction)="onAddEducation()"></app-button>
  </div>
  <app-educations [educations]="portfolio.educations"></app-educations>

</div>

<app-skills [skills]="portfolio.skills"></app-skills>

<div class="card mat-card">
  <div class="card-titles">
    <div class="title-container">
      <h2>Projects</h2>
      <app-button [type]="'add'" (onButtonAction)="onAddProject()"></app-button>
    </div>
    <app-projects [projects]="portfolio.projects"></app-projects>
  </div>
</div>