<div class="card mat-card" id="first-card">
  
 <app-introduction
 [portfolio]="portfolio">
</app-introduction>


  <div id="info-actions">
    <app-collapse 
    class="w-100" 
    [portfolio]="portfolio">
  </app-collapse>
  </div>
   
</div>
<div class="card mat-card">
  <div class="card-titles">
    <div class="title-container">
      <h2>About me</h2>
    </div>
    <app-about [aboutMe]="portfolio.aboutMe"></app-about>
  </div>
</div>


<div class="card mat-card">
  <div class="title-container">
    <h2>Experience</h2>
    <a href='javascript:void(0);' id="add-experience" (click)="onAddExperience()"><i class="fa-solid fa-plus"></i>
    </a>
  </div>
  <app-experiences [experiences]="portfolio.experiences"></app-experiences>
</div>

<div class="card mat-card">
  <div class="title-container">
    <h2>Education</h2>
    <a href='javascript:void(0);' (click)="onAddEducation()"><i class="fa-solid fa-plus"></i></a>
  </div>
  <app-educations [educations]="portfolio.educations"></app-educations>

</div>

<div class="card mat-card">
  <div class="card-titles">
    <div class="title-container">
      <h2>Hard Skills</h2>
      <a href='javascript:void(0);' (click)="onAddSkill(skillType.HARD)"><i class="fa-solid fa-plus"></i></a>
    </div>
    <app-skills [skills]="portfolio.skills" [skillType]="skillType.HARD">
    </app-skills>

  </div>
</div>

<div class="card mat-card">
  <div class="card-titles">
    <div class="title-container">
      <h2>Soft Skills</h2>
      <a href='javascript:void(0);' (click)="onAddSkill(skillType.SOFT)"><i class="fa-solid fa-plus"></i></a>
    </div>
    <app-skills [skills]="portfolio.skills" [skillType]="skillType.SOFT">
    </app-skills>

  </div>
</div>


<div class="card mat-card">
  <div class="card-titles">
    <div class="title-container">
      <h2>Projects</h2>
      <a href='javascript:void(0);' (click)="onAddProject()"><i class="fa-solid fa-plus"></i></a>
    </div>
    <app-projects [projects]="portfolio.projects"></app-projects>
  </div>
</div>