<div *ngIf="isOnShowContact">
    <div class="info-contact">
        <h4>Contact information <a href='javascript:void(0);' (click)="offShowContact()"><i
                    class="fa-solid fa-circle-minus"></i></a></h4>
        <a href='javascript:void(0);' id="edit-contact" (click)="onEditContact()"><i class="fa-solid fa-pen"></i></a>
    </div>

    <div class="card">

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa-solid fa-phone"></i> {{portfolio.contactInformation.phone}}</li>
            <li class="list-group-item"><i class="fa-solid fa-envelope"></i> {{portfolio.contactInformation.email}}</li>
            <li class="list-group-item"><a href="//{{portfolio.contactInformation.linkedIn}}"><i
                        class="fa-brands fa-linkedin"></i> {{portfolio.contactInformation.linkedIn}}</a></li>
            <li class="list-group-item"><a href="//{{portfolio.contactInformation.remoteRepository}}"><i
                        class="fa-brands fa-git-square"></i> {{portfolio.contactInformation.remoteRepository}}</a></li>
        </ul>
    </div>

    
</div>