<div class="container pt-4 pb-4">
    <div class="row">
        <div class="c-12">

            <form action="javascript:void(0);" (ngSubmit)="onSubmit()" #myForm="ngForm">
                <div class="form-row pb-2">
                    <div class="input-group col-12">
                        <input type="text" class="form-control custom-input" placeholder="find a name, occupation..."
                                aria-label="Username" [(ngModel)]="search" name="search" (input)="onInput()"
                                aria-describedby="basic-addon1" (click)="onView()">
                            <div class="input-group-prepend custom-margin " (click)="send()">
                                <span class="input-group-text custom-icon" id="basic-addon1"><i
                                        class="fa-solid fa-magnifying-glass"></i></span>

                            </div>


                    </div>
                    <!-- <div class="input-group col-3" >
                       
                        <select class="custom-select" [(ngModel)]="findBy" id="inputGroupSelect01" name="searchSelect"
                            #select>
                            <option hidden value="" disabled selected class="text-select">by.. </option>
                            <option value="name" class="text-select">Name</option>
                            <option value="occupation" class="text-select">Occupation</option>
                        </select>
                    </div> -->
                </div>
                <div *ngIf="showFilters" class="form-row pb-2">
                    <div class="input-group col-3 custom-input-group">
                        <select class="custom-select" [(ngModel)]="filterCountry" id="inputGroupSelect02"
                            [disabled]="!isCountryReady" name="countryFilter" #select (change)="onChange()">
                            <option hidden value="" disabled selected class="text-select">Country</option>
                            <option class="text-select" *ngFor="let country of (countries$ | async)"
                                [value]="country.id">{{country.name}}
                            </option>

                        </select>
                    </div>
                    <div class="input-group col-3 custom-input-group">
                        <select class="custom-select" [(ngModel)]="filterRegion" id="inputGroupSelect03"
                            [disabled]="!isRegionReady" name="regionFilter" #select>
                            <option hidden value="" disabled selected class="text-select">Region</option>
                            <option class="text-select" *ngFor="let region of (regions$ | async)" [value]="region.id">
                                {{region.name}}
                            </option>
                        </select>
                    </div>
                </div>



                <!-- <button type="submit" class="btn btn-primary">Search</button> -->
                <button type="button" [ngClass]="{'btn-success':showFilters,'btn-danger':!showFilters}" class="btn"
                    (click)="toggleFilters()"><i class="fa-solid fa-filter text-light"></i></button>
                <button type="button" class="btn btn-dark ml-2" (click)="toggleSort()"><i
                        [ngClass]="{'fa-arrow-up-a-z':order=='ASC','fa-arrow-down-z-a':order=='DESC'}"
                        class="fa-solid text-warning"></i></button>

            </form>





        </div>
    </div>

</div>

