<div class="col-md-12 current-company pl-0">
    <div class="d-flex flex-row pl-0">
        <div>
            <div class="row">
                <h4 class="vertical-text-center">Work at</h4>
            </div>
            <div class="row h-50">
                <ul id="info-details">
                    <li *ngIf="currentCompany.url!==null"><a class="url p-1" href="//{{currentCompany.url}}">
                            <img [src]="currentCompany.image || './assets/img/default-current-company.png'" onerror="this.src='./assets/img/img-not-found.png';" alt="company image">
                            <h2>{{currentCompany.name || 'My company'}}</h2>
                        </a>
                    </li>
                    <li class="p-1" *ngIf="currentCompany.url==null">
                        <img [src]="currentCompany.image || './assets/img/default-current-company.png'" onerror="this.src='./assets/img/img-not-found.png';" alt="company image">
                        <h2>{{currentCompany.name || 'My Company'}}</h2>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <app-button [type]="'edit'" (onButtonAction)="editCurrentCompany()"></app-button>
        </div>

    </div>


</div>