.current-company {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    align-items: flex-end;
   

}

#info-details {
    display: flex;
    flex-direction: column;
width: fit-content;
    right: 10px;
    bottom: 50px;
    list-style: none;
}

#info-details img {
    border-radius: 50%;
    width: 60px;
    height: 60px;

}

#info-details h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    color: black;
}

.vertical-text-center {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

#info-details li a ,#info-details li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;

    align-items: center;

}

.url{
    text-decoration: none;
    color:black;
    display: block;
    width: 100%;
    
 
    
}
.url:hover {
    background-color: gray;
    border-radius: 5%;
    
}
.url:hover h2{
    
    color: white!important;
    border-radius: 5%;
    
}

