<div class="w-100">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseInterests"
    aria-expanded="false" aria-controls="collapseInterests">
    My interests
</button>

<button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#collapseMore"
    aria-expanded="false" aria-controls="collapseMore">
    More
</button>
<button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#collapseAddSection"
    aria-expanded="false" aria-controls="collapseAddSection">
    Add section
</button>

<app-interests [interests]="person.interests"></app-interests>
<app-more></app-more>
<app-add-section></app-add-section>
</div>
