<div class="btn-container">
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseContactInformation"
        aria-expanded="false" aria-controls="collapseContactInformation">
        Contact
    </button>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseInterests"
        aria-expanded="false" aria-controls="collapseInterests">
        My interests
    </button>

</div>
<app-contact-info [contactInformation]="portfolio.contactInformation"></app-contact-info>
<app-interests [interests]="portfolio.interests"></app-interests>
