<div class="item-title-edit">
    <p class="mb-0 d-flex justify-content-center w-100">{{skill.name}}</p>
    <div>
        <a href='javascript:void(0);' (click)="editSkill()"><i class="fa-solid fa-pen"></i> </a>
        <a href='javascript:void(0);' (click)="removeSkill()"><i class="fa-solid fa-trash"></i> </a>
    </div>
</div>

<div class="progress mb-2 ">
    <div class="progress-bar progress-bar-striped" role="progressbar" [style.width.%]="skill.percent"
        aria-valuenow="skill.percent" aria-valuemin="0" aria-valuemax="100"></div>
</div>
